* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.header{
    display: block;
    align-items: center;
    padding: 1rem;
    background-color: white;
    
    position: fixed;
    height: 3rem;
    width: 100%;

}

.header__marca {
    position: fixed;
    left: 2rem;
    margin: 1rem;
}
.header__bottons {
    position: fixed;
    right: 2rem;
    margin: 1rem;
}
.header__bottons--element1 {
    position: fixed;
    right: 7rem;
    margin: 1rem;
}
.header__bottons--element2 {
    position: fixed;
    right: 12rem;
    margin: 1rem;
}
.header__bottons--element3 {
    position: fixed;
    right: 20rem;
    margin: 1rem;
}

.footer {
    display: block;
    align-items: center;
    background-color: white;
    text-align: center;
    margin: 3rem;
    width: 100%;
}


.presentacion {
    display: block;
    padding: 5rem;
    align-items: center;
    background-color: #F9F8F8;
    text-align: left;

    height: 530px;
    width: 100%;

}

.presentacion__title {
    color: #2D2D2D;
    font-size: 50px; 
    padding-top: 10%;
    width: 45%;
}
.presentacion__descripcion {
    color: #2D2D2D;
    font-size: 14px;
    padding-top: 1rem;
    text-align: left;
    width: 45%;
    
}
.presentacion__button {
    margin-top: 1rem;
    border-color: #605F5F;
    border-radius: 22.5px;
    border-style: solid;

    height: 45px;
    width: 109px;

    display: block;
    color: #605F5F;
    text-align: center;
    font-size: 14px;

}

.presentacion__title--titlePage {
    background-color: #F9F8F8;
    width: 100%;
    text-align: center;
    color: #2D2D2D;
    font-size: 16px;
    font-style: bold italic; 
    padding: 5%;
}

.productos {
    background-color: #F9F8F8;
    text-align: center;     
    display: flex;
    height: 350px;
    width: 100%;
    margin: auto;
    padding: 5% 20% 5% 20% ;
}

.productos__imagen {
    border-radius: inherit;
    object-fit: cover;
    display: block;
    padding-top: 5%;
    
    height: 284px;
    width: 236px;
}
.productos__title  {
    text-align: center;
    color: #2D2D2D;
    font-size: 16px;
    font-style: bold; 
    padding-top: 10%;
    width: 50%;
}

.productos__descripcion {
    color: #2D2D2D;
    font-size: 14px;
    padding-top: 1rem;
    text-align: center;
    width: 50%;

}

.productos__button {
    margin-top: 1rem;
    border-color: #605F5F;
    border-radius: 22.5px;
    border-style: solid;

    height: 45px;
    width: 109px;

    display: block;
    color: #605F5F;
    text-align: center;
    font-size: 14px;
}

.descripcion {
    background-color: white;
    text-align: center;     
    display: flex;
    height: 36px;
    width: 100%;
    margin: auto;
    padding: 5%;
    
}

.descripcion__toppic {
    margin: auto;
    color: #2D2D2D;
    font-size: 14px;
    padding: 0% 50% 10% 50%;
    text-align: center;
    width: 50%;
}

