* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: sans-serif;

}

.header{
    background-color: white;
    box-shadow: 0 1px 3px rgba(163, 163, 163, 0.3);
    display: block;
    align-items: center;
    padding: 1rem;
    
    position: fixed;
    height: 4rem;
    width: 100%;
}

.header__marca {
    position: fixed;
    left: 2rem;
    margin: 1rem;
}

.header__bottons {
    position: fixed;
    right: 2rem;
    margin: 1rem;
}

.header__bottons--element1 {
    position: fixed;
    right: 7rem;
    margin: 1rem;
}

.header__bottons--element2 {
    position: fixed;
    right: 12rem;
    margin: 1rem;
}

.header__bottons--element3 {
    position: fixed;
    right: 20rem;
    margin: 1rem;
}

.footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3rem;
    width: 100%;
}

.presentacion {
    background-color: #F9F8F8;
    display: flex;
    flex-direction: row;
    height:  530px; 

}

.presentacion__invertido {
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    height:  530px; 

}

.presentacion__BloqueTexto {
    display: block;
    padding: 5rem;
    align-content: center;
    text-align: left;

    width: 100%;
    height: 100%;

}
.presentacion__BloqueTexto--title {
    color: #2D2D2D;
    font-size: 50px; 
    padding-top: 10%;
    width: 45%;
}
.presentacion__BloqueTexto--descripcion {
    color: #2D2D2D;
    font-size: 14px;
    padding-top: 1rem;
    
    width: 45%;
    
}
.presentacion__BloqueTexto--button {
    margin-top: 1rem;
    border-color: #605F5F;
    border-radius: 22.5px;
    border-style: solid;

    height: 45px;
    width: 109px;

    display: block;
    color: #605F5F;
    text-align: center;
    font-size: 14px;

}

.presentacion__title--titlePage {
    background-color: #F9F8F8;
    width: 100%;
    padding: 2rem 0rem 2rem 0rem;
    text-align: center;
    color: #2D2D2D;
    font-size: 16px;
    font-style: bold italic; 
}

.productos {
    background-color: #F9F8F8;
    text-align: center;     
    display: flex;
    height: 400px;
    width: 100%;
    margin: auto;
    padding: 5% 20% 5% 20% ;
}

.productos__imagen {
    margin: auto;
    border-radius: inherit;
    object-fit: cover;
    display: block;
    padding-top: 5%;
    
    height: 284px;
    width: 236px;
}

.productos__title  {
    margin: auto;
    text-align: center;
    color: #2D2D2D;
    font-size: 16px;
    font-style: bold; 
    padding-top: 10%;
    width: 50%;
}

.productos__descripcion {
    margin: auto;
    color: #2D2D2D;
    font-size: 14px;
    padding-top: 1rem;
    text-align: center;
    width: 50%;

}

.productos__button {
    margin: auto;
    border-color: #605F5F;
    border-radius: 22.5px;
    border-style: solid;
    align-content: center;

    height: 45px;
    width: 109px;

    display: block;
    color: #605F5F;
    text-align: center;
    font-size: 14px;
}

.descripcion {
    background-color: white;
    text-align: center;     
    display: flex;
    height: 36px;
    width: 100%;
    margin: auto;
    padding: 5%;
    
}

.descripcion__toppic {
    margin: auto;
    color: #2D2D2D;
    font-size: 14px;
    padding: 0% 50% 10% 50%;
    text-align: center;
    width: 50%;
}

.presentacionQuienesSomos {
    background-color: #F9F8F8;
    padding: 5rem 0rem 5rem 0rem;
    display: flex;
    flex-direction: column;
    height:  300px; 
    width: 100%;
}

.presentacionQuienesSomos__Integrantes {
    text-align: center;     
    display: flex;
    width: 100%;
    margin: auto;
    padding: 5% 20% 5% 20% ;
}

.productos__imagen--integrantes {
    height: 200px;
    width: 100px;
}

.productos__collecion {
    background-color: white;     
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 1000px;
    width: 100%;
    margin: auto;
    padding: 5% 20% 5% 20% ;
}

.ImagenProductos {
    background-color: white;
    width: 800px;  
    align-content: center;
}

.presentacionIngresar {
    background-color: #F9F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0rem 3rem 0rem;
    list-style: none;

    height: 30rem;
}

.presentacionIngresar__titulo {
    width: 100%;
    padding: 2rem 0rem 2rem 0rem;
    text-align: center;
    color: #2D2D2D;
    font-size: 16px;
    font-style: bold; 
}

.presentacionIngresar__text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 300px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    
}

.presentacionIngresar__text--contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 600px;
    padding: 0.4rem 1rem 0.4rem 1rem;
}

.presentacionIngresar__Toppic {
    margin: auto;
    border-color: #605F5F;
    border-radius: 22.5px;
    border-style: solid;
    align-content: center;
}