@import "parciales/variables" ;

@import "parciales/base" ;

@import "parciales/header";

@import "parciales/footer";

@import "parciales/presentacionproducto";

@import "parciales/descripciones";

@import "parciales/cardproductos";

@import "parciales/ingresardatos";

@import "parciales/mediaquerys";
