/* Mejores productos mainpage */

.CardVenta {
    background-color: map-get($map: $color, $key: fondo);
    padding: 2rem;  

    &__contenedor {  
        background-color: map-get($map: $color, $key: fondo);  
        @include Displaygrid(repeat(4, 1fr), space-evenly);
        padding: 1rem;
        position: relative;
        height: 100%;
        @media screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
            height: auto;
        }
    }
    h1 {
        @include Text(map-get($map: $color, $key: texto), 16px, bold italic, center)
    }

    &__producto {
        @include Displaygrid(3, baseline);
        align-content: center;
        height: 100%;
        position: relative;

        img {
            @include Image(100%, 50%)
        }

        h2 {
            margin: auto;
            @include Text(map-get($map: $color, $key: texto), 16px, bold, center)
            padding-top: 10%;
            width: 50%;
            @media screen and (max-width: 1024px) {    
                font-size: 14px;
            }
        }

        p {
            margin: auto;
            @include Text(map-get($map: $color, $key: texto), 14px, normal, center)
            padding-top: 1rem;
            padding-bottom: 1rem;
            width: 50%;

            @media screen and (max-width: 1024px) {    
                font-size: 12px;
            }
        }

        button {
            margin-top: 1rem;
            border-color: map-get($map: $color, $key: button);
            border-radius: 22.5px;
            border-style: solid;
        
            height: 45px;
            width: 109px;
        
            display: block;
            @include Text(map-get($map: $color, $key: button), 14px, normal, center);

            @media screen and (max-width: 1024px){
                height: 32px;
                width: 78px;
                margin: auto;
            }
        }

    }

}


/* Page producto */

.CardVentacollection {
    @extend .CardVenta;
    background-color: white; 

    &__contenedor {
        @extend .CardVenta__contenedor;
        background-color:  white;
        @media screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
            height: auto;
        }
    }
   
}

.CardImagen {
    @include Image(100%, 100%)
}
