/* Mejores productos mainpage */

.CardVenta {
    background-color: map-get($map: $color, $key: fondo);
    padding: 2rem;  

    &__contenedor {  
        background-color: map-get($map: $color, $key: fondo);  
        @include Displaygrid(repeat(4, 1fr), space-evenly);
        position: relative;
        height: 450px;
    }

    h1 {
        @include Text(map-get($map: $color, $key: texto), 16px, bold italic, center)
    }

    &__producto {
        @include Displaygrid(3, baseline);
        align-content: center;
        height: 100%;
        position: relative;

        img {
            @include Image(50%, 100%)
        }

        h2 {
            margin: auto;
            @include Text(map-get($map: $color, $key: texto), 16px, bold, center)
            padding-top: 10%;
            width: 50%;
        }

        p {
            margin: auto;
            @include Text(map-get($map: $color, $key: texto), 14px, normal, center)
            padding-top: 1rem;
            padding-bottom: 1rem;
            width: 50%;
        }

        button {
            margin-top: 1rem;
            border-color: map-get($map: $color, $key: button);
            border-radius: 22.5px;
            border-style: solid;
        
            height: 45px;
            width: 109px;
        
            display: block;
            @include Text(map-get($map: $color, $key: button), 14px, normal, center)
        }

    }

}


/* Page producto */

.CardVentacollection {
    @extend .CardVenta;
    background-color: white; 

    &__contenedor {
        @extend .CardVenta__contenedor;
        background-color:  white;
    }
   
}

.CardImagen {
    @include Image(100%, 100%)
}
