/* Descripcion marca mainpage */

.descripcion {
    margin: 1rem;
    background-color: white;
    padding: 2rem;
    
    &__contenedor {  
        @include Displaygrid(repeat(3, 1fr), center)

        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr;
        }
    }
    
    &__item {
        @include Displayflex(column, center, center, center)
        padding: 1rem;

        i {
            font-size: 2rem;
        }
    }

    &__toppic {
        margin: auto;
        padding: 1rem;
        @include Text(map-get($map: $color, $key: texto), 14px, normal, center)
    }

}

/* page nosotros */

.Integrantes {
    background-color: map-get($map: $color, $key: fondo);
    padding: 1rem; 
    text-align: center;
    align-items: center;

    h1 {
        @include Text(map-get($map: $color, $key: texto), 18px, italic, center) 
        @media screen and (max-width: 600px) {
            font-size: 16px;
        }
    }

    h2 {
        margin: auto;
        @include Text(map-get($map: $color, $key: texto), 1.5rem, normal, center);
        @media screen and (max-width: 600px) {
            font-size: 18px;
        }
    }
    
}