/* Descripcion marca mainpage */

.descripcion {
    margin: 1rem;
    background-color: white;
    padding: 2rem;
    
    &__contenedor {  
        @include Displaygrid(repeat(3, 1fr), baseline)
        height: 100%;
    }

    &__toppic {
        margin: auto;
        padding: 1rem;
        @include Text(map-get($map: $color, $key: texto), 14px, normal, center)
    }

}

/* page quienes somos */

.Integrantes {
    background-color: map-get($map: $color, $key: fondo);
    padding: 2rem; 
    text-align: center;
    align-items: center;

    h1 {
        @include Text(map-get($map: $color, $key: texto), 18px, italic, center) 
    }

    h2 {
        margin: auto;
        @include Text(map-get($map: $color, $key: texto), 16px, normal, center)
        padding-top: 10%;
    }
    
}