/* Footer */

.footer {
    padding: 2rem 1rem;

    &__contenedor {
        max-width: 1200px;
        margin: 0 auto;
        background-color: white;
        @include Displayflex(column, space-between, center, center);
    }
}

