/* Footer */

.footer {
    padding: 2rem 1rem;
    background-color: white;

    &__contenedor {
        @include Displayflex(column, space-between, center, center);
        p {
            @include Text(map-get($map: $color, $key: texto), 0.96rem, normal, center);
            @media screen and (max-width: 1024px){
                font-size: 0.6rem;
            }
        }
    }
}

