/* Header */

.header{
    background-color: white;
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0rem;
    padding: 1rem;
    
    position: relative;

    @media screen and (max-width: 1024px){
        height: auto;
    }

    &__contenedor {
        margin: 0 auto;
        @include Displayflex(row, space-between, center, center);
        @media screen and (max-width: 1024px){
            margin-left: -1rem;
        }
    }

    &__marca {
        @include Image(auto, 2.5rem)
        padding: 0.5rem 1rem;
    }
}

.nav__item {
    margin-left: 1rem;

    &--oculto {
        display: none;
    }
}

.nav__lista {
    display: flex;

    @media screen and (max-width: 730px) {
        flex-wrap: wrap;
        background-color: #e7e7e7;
        width: 60%;
        max-width: 400px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;
        transition: transform 0.5s;
        z-index: 100;
    }
}

.nav__enlace {
    color: map-get($map: $color, $key: button);
    font-size: 0.96rem;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1rem;
    display: inline-block;

    &:hover {
        color: map-get($map: $color, $key: texto);
        font-weight: 500;
    }
}

.nav-link {
    color: map-get($map: $color, $key: texto);

    &:hover {
        color: map-get($map: $color, $key: button);
    }
}

/* Menu producto */

.dropdown-menu.show {
    min-width: 10rem;
    text-align: center;
    color: map-get($map: $color, $key: texto);
    &:hover {
        color: map-get($map: $color, $key: button);
    }
    @media screen and (max-width: 600px) {
        min-width: 17rem;
    }
}
/* Menu Lateral */

.btn-open-sidebar {
    display: none;

    @media screen and (max-width: 730px) {
        display: inline-block;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        color: map-get($map: $color, $key: texto);
    }
}