/* Page Ingresar y contacto */

.Ingresar {
    background-color: $colorfondo;
    padding: 1rem;

    &__contenedor {
        display: flex; 
        margin: auto;
        flex-direction: column;
        align-content: center;

        legend {
            color: $colortexto;
            font-size: 50px; 
            padding: 2rem;
            text-align: center;
            font-style: bold;
        }
    }

    &__datos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0.4rem 1rem 0.4rem 1rem;

        &--grid {
            display: grid;
            grid-template-areas:
              "name apellido"
              "email email"
              "comentario comentario"
              "button button";
            grid-template-rows: 1fr 1fr 1fr 1fr; 
            grid-template-columns: 1fr 1fr;
        }

        &--button {
            margin: auto;
            border-color: $colorbuttom;
            border-radius: 22.5px;
            border-style: solid;
        
            height: 45px;
            width: 109px;
        
            display: block;
            color: $colorbuttom;
            text-align: center;
            font-size: 14px;
        }
    }

    &__Toppic {
        margin: auto;
        border-color: $colorbuttom;
        border-radius: 22.5px;
        border-style: solid;
        align-content: center;
    }

}
