/* Page contacto */

.Ingresar {
    background-color: map-get($map: $color, $key: fondo);
    padding: 1rem;

    &__contenedor {
        display: flex; 
        margin: auto;
        flex-direction: column;
        align-content: center;

        legend {
            @include Text(map-get($map: $color, $key: texto), calc(1.375rem + 1.5vw), normal, center);
            padding: 2rem;
        }
    }

    &__datos--button {
        margin: auto;
        border-color: map-get($map: $color, $key: button);
        border-radius: 22.5px;
        border-style: solid;
        
        height: 45px;
        width: 109px;
        
        display: block;
        @include Text(map-get($map: $color, $key: button), 14px, normal, center)

        @media screen and (max-width: 600px) {
            height: 32px;
            width: 78px;
        }
    }

    img {
        @media screen and (max-width: 600px) {
            display: none;
        }
    }

}
