/* Page Ingresar y contacto */

.Ingresar {
    background-color: map-get($map: $color, $key: fondo);
    padding: 1rem;

    &__contenedor {
        display: flex; 
        margin: auto;
        flex-direction: column;
        align-content: center;

        legend {
            @include Text(map-get($map: $color, $key: texto), 50px, bold, center)
            padding: 2rem;
        }
    }

    &__datos {
        @include Displayflex(row, center, baseline, center);
        padding: 0.4rem 1rem 0.4rem 1rem;

        &--grid {
            display: grid;
            grid-template-areas:
              "name apellido"
              "email email"
              "comentario comentario"
              "button button";
            grid-template-rows: 1fr 1fr 1fr 1fr; 
            grid-template-columns: 1fr 1fr;
        }

        &--button {
            margin: auto;
            border-color: map-get($map: $color, $key: button);
            border-radius: 22.5px;
            border-style: solid;
        
            height: 45px;
            width: 109px;
        
            display: block;
            @include Text(map-get($map: $color, $key: button), 14px, normal, center)
        }
    }

    &__Toppic {
        margin: auto;
        border-color: map-get($map: $color, $key: button);
        border-radius: 22.5px;
        border-style: solid;
        align-content: center;
    }

}
