/* Media Querys */

/* TABLET */

@media screen and (max-width: 1024px){
    /* CardVenta */

    .card-title {
        font-size: 14px;
    }

    /* page Quienes somos */

    /* !!invertir orden!! */

    /* Page Ingresar */

    .Ingresar__contenedor legend {
        font-size: 40px;
    }

}

/* MOBILE */

@media screen and (max-width: 600px) {

    /* header*/

    .btn-open-sidebar {
        display: inline-block;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        color: map-get($map: $color, $key: texto);
    }

    .nav__lista {
        background-color: #e7e7e7;
        width: 80%;
        max-width: 400px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        transition: transform 0.5s;
        z-index: 100;
    }

    #sidebar:target {
        transform: translateX(0);
    }

    .nav__item--oculto {
        display: block;
    }

    .Ingresar__datos--button {
        height: 32px;
        width: 78px;
    }

    /* CardVenta */
    
    .CardVenta__contenedor {    
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
    }

    /* Page Ingresar */

    .Ingresar__contenedor legend {
        font-size: 30px;
    }

    .Ingresar__datos--grid {
        grid-template-areas:
        "name name"
        "apellido apellido"
        "email email"
        "comentario comentario"
        "button button";
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-columns: 1fr;
    }

    .Ingresar__Toppic textarea {
        columns: 20;
    }

}