/* Media Querys */

/* TABLET */

@media screen and (max-width: 1024px){
    /* CardVenta */
    .card-title {
        font-size: 14px;
    }
}

/* MOBILE */

@media screen and (max-width: 600px) {

    /* header*/

    #sidebar:target {
        transform: translateX(0);
    }

    .nav__item--oculto {
        display: block;
    }
}