/* presentacion producto */

.presentacion {
    background-color: map-get($map: $color, $key: fondo);
    padding: 1rem 0rem 1rem 1rem;

    @media screen and (max-width: 600px) {
        padding: 1rem;
    }

    &--invertido {
        background-color: white;
        padding: 1rem 0rem 1rem 1rem;

        @media screen and (max-width: 600px) {
            padding: 1rem;
        }
    }

    &__contenedor {
        @include Displaygrid( repeat(2,50%), space-between);
        position: relative;

        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr;
            grid-template-rows: 2fr;
        }
        
        &--invertido {
            @extend .presentacion__contenedor;
        }
    }

    &__left {
        @include Displaygrid( 3, space-between)
        margin: 1rem;
        align-content: center;
        text-align: left;
        position: relative;

        @media screen and (max-width: 600px){
            justify-content: center;
        }

        h1 {
            @include Text(map-get($map: $color, $key: texto), calc(1.375rem + 1.5vw), normal, left);

            @media screen and (max-width: 1024px){
                font-size: 18px;
            }
            @media screen and (max-width: 600px){
                text-align: center;;
            }
        }

        p {
            @include Text(map-get($map: $color, $key: texto), 0.96rem, normal, left);

            @media screen and (max-width: 1024px){
                font-size: 12px;
            }
            @media screen and (max-width: 600px){
                text-align: center;;
            }
        }

        button {
            border-color: #605F5F;
            border-radius: 30rem;
            border-style: solid;
        
            height: 2.7rem;
            width: 5.4rem;
        
            display: block;
            @include Text(map-get($map: $color, $key: button), 0.84rem, normal, center);

            @media screen and (max-width: 1024px){
                height: 32px;
                width: 78px;
            }
            
            @media screen and (max-width: 600px){
                margin: auto;
            }
        }
    }   
}

.rewards__item--img {
    padding: 0;
}
