/* presentacion producto */

.presentacion {
    background-color: map-get($map: $color, $key: fondo);
    padding: 1rem 0rem 1rem 1rem;

    &--invertido {
        background-color: white;
        padding: 1rem 0rem 1rem 1rem;
    }

    &__contenedor {
        @include Displaygrid( repeat(2,50%), space-between)
        position: relative;

        &--invertido {
            @extend .presentacion__contenedor;
        }
    }

    &__left {
        margin-left: 3rem;
        @include Displaygrid( 3, space-between)
        align-content: center;
        text-align: left;
    
        position: relative;

        h1 {
            @include Text(map-get($map: $color, $key: texto), 50px, normal, left)
            padding: 1rem 3rem 1rem 1rem;
        }

        p {
            @include Text(map-get($map: $color, $key: texto),14px, normal, left)
            padding: 1rem 3rem 1rem 1rem;
        }

        button {
            margin-left: 3rem;
            margin-top: 1rem;
            border-color: #605F5F;
            border-radius: 22.5px;
            border-style: solid;
        
            height: 45px;
            width: 109px;
        
            display: block;
            @include Text(map-get($map: $color, $key: button), 14px, normal, center)
        }
    }   
}

.rewards__item--img {
    padding: 0;
}
